@media screen and (max-width: 480px) {
    .btn-common {
        font-size: 1rem;
    }
    header {
        padding: 10px;
    }
    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        display: none;
    }

    .responsive-menu {
        display: block;
        padding: 5px 10px;
        border: none;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

    .banner-content {
        width: 98%;
    }

    .banner-content h1 {
        font-size: 2rem;
    }

    .banner-img {
        width: 90%;
    }

    #portfolio{
    margin: 100px auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%
}

#portfolio .images{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.images img{
    width: 340px;
    height:340px;
}

.portfolio-content{
    margin: 10px auto;
    width: 80%;
}

.portfolio-content h1{
    font-size: 3rem;
    margin: 20px 0;
}

.list{
    color: var(--secondary-text-color);
    font-weight: 500;
}
.features{
    color: var(--primary-color);
}

.portfolio-content p{
    color: var(--secondary-text-color);
    line-height: 1.4;
    margin-bottom: 30px;
}

#feature-container{
    width: 95%;
    margin: 10px auto;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    gap: 10px;
}

.features{
    width: 100%;
}

.feature-title{
    font-size: 3rem;
    font-weight: 700;
    border-left: 3px solid var(--primary-color);
    width: 90%;
    padding-left: 20px;
    color: #000000;
    margin-bottom: 20px;
}

.feature-description{
    color:var(--secondary-text-color);
    line-height: 1.4;
    margin-bottom: 20px;
}

.single-feature{
    width: 90%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 30px;
}

.single-feature h4{
    font-size: 1.5rem;
    padding: 10px 0;
    color: #000000;
}
.single-feature p{
    font-size: 1;
    padding: 10px 0;
    color: var(--secondary-text-color);
    line-height: 1.4;
}

.feature-img{
    position: relative;
    width: 100%;
}

.feature-img img{
    width: 100%;
}

.experiences{
    background: var(--primary-color);
    width: 200px;
    padding: 30px;
    color: #fff;
    text-align: center;
    border-radius: 7px;
    position: absolute;
    bottom: -30px;
    left: 5px;
}

.experiences h1{
    font-size: 1.5rem;
}
.experiences p{
    font-size: 1.3rem;
}
#facts-container{
    margin-top: 40px;
    width: 98%;
    padding: 20px;
}
.facts-content{
    width:90%;
}
.facts{
    flex-direction: column;
    gap: 20px;
}
#sponsor-container{
    width: 98%;
}
.sponsor-content{
    width: 100%;
}
footer{
    width: 96%
}
}

@media screen and (min-width:481px) and (max-width: 767px) {
    header {
        padding: 10px;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links li a {
        margin-left: 20px;
    }

    .banner-content {
        width: 70%;
    }

    .banner-content h1 {
        font-size: 2rem;
    }

    .banner-img {
        width: 90%;
    }

     #portfolio{
    margin: 100px auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%
}

#portfolio .images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.images img{
    width: 240px;
    height:240px;
}

.portfolio-content{
    margin: 10px auto;
    width: 80%;
}

.portfolio-content h1{
    font-size: 3rem;
    margin: 20px 0;
}

.list{
    color: var(--secondary-text-color);
    font-weight: 500;
}
.features{
    color: var(--primary-color);
}

.portfolio-content p{
    color: var(--secondary-text-color);
    line-height: 1.4;
    margin-bottom: 30px;
}
#feature-container{
    width: 95%;
    margin: 10px auto;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    gap: 10px;
}

.features{
    width: 100%;
}
.feature-title{
    font-size: 3rem;
    font-weight: 700;
    border-left: 3px solid var(--primary-color);
    width: 90%;
    padding-left: 20px;
    color: #000000;
    margin-bottom: 20px;
}

.feature-description{
    color:var(--secondary-text-color);
    line-height: 1.4;
    margin-bottom: 20px;
}

.single-feature{
    width: 90%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 30px;
}

.single-feature h4{
    font-size: 1.5rem;
    padding: 10px 0;
    color: #000000;
}
.single-feature p{
    font-size: 1;
    padding: 10px 0;
    color: var(--secondary-text-color);
    line-height: 1.4;
}

.feature-img{
    position: relative;
    width: 100%;
}

.feature-img img{
    width: 100%;
}

.experiences{
    background: var(--primary-color);
    width: 200px;
    padding: 30px;
    color: #fff;
    text-align: center;
    border-radius: 7px;
    position: absolute;
    bottom: -30px;
    left: 5px;
}

.experiences h1{
    font-size: 1.5rem;
}
.experiences p{
    font-size: 1.3rem;
}
#facts-container{
    margin-top: 40px;
    width: 98%;
    padding: 20px;
}
.facts-content{
    width:90%;
}
.facts{
    flex-direction: column;
    gap: 20px;
}
#sponsor-container{
    width: 98%;
}
.sponsor-content{
  width: 80%;
}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        padding: 30px 80px;
    }

    .logo {
        font-size: 2rem;
    }

    .nav-links li a {
        margin-left: 30px;
    }

    .banner-content {
        width: 50%;
    }

    .banner-content h1 {
        font-size: 2.5rem;
    }

    .banner-img {
        width: 90%;
    }
     #portfolio{
    margin: 100px auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%
}

#portfolio .images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.images img{
    width: 340px;
    height:340px;
}

.portfolio-content{
    margin: 10px auto;
    width: 80%;
}

.portfolio-content h1{
    font-size: 3rem;
    margin: 20px 0;
}

.list{
    color: var(--secondary-text-color);
    font-weight: 500;
}
.features{
    color: var(--primary-color);
}

.portfolio-content p{
    color: var(--secondary-text-color);
    line-height: 1.4;
    margin-bottom: 30px;
}
#feature-container{
    width: 95%;
    margin: 10px auto;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    gap: 10px;
}

.features{
    width: 100%;
}
.feature-title{
    font-size: 3rem;
    font-weight: 700;
    border-left: 3px solid var(--primary-color);
    width: 90%;
    padding-left: 20px;
    color: #000000;
    margin-bottom: 20px;
}

.feature-description{
    color:var(--secondary-text-color);
    line-height: 1.4;
    margin-bottom: 20px;
}

.single-feature{
    width: 90%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 30px;
}

.single-feature h4{
    font-size: 1.5rem;
    padding: 10px 0;
    color: #000000;
}
.single-feature p{
    font-size: 1;
    padding: 10px 0;
    color: var(--secondary-text-color);
    line-height: 1.4;
}

.feature-img{
    position: relative;
    width: 100%;
}

.feature-img img{
    width: 100%;
}

.experiences{
    background: var(--primary-color);
    width: 200px;
    padding: 30px;
    color: #fff;
    text-align: center;
    border-radius: 7px;
    position: absolute;
    bottom: -30px;
    left: 5px;
}

.experiences h1{
    font-size: 1.5rem;
}
.experiences p{
    font-size: 1.3rem;
}
#facts-container{
    margin-top: 40px;
    width: 90%;
    padding: 20px;
}
.facts-content{
    width:60%;
}
.facts{
    flex-wrap: wrap;
    gap: 20px;
}
}