
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-primary-color: #fff4e7;
    --primary-color: #ff900e;
    --primary-text-color: #000000;
    --secondary-text-color: #727272;
}

/* common style  */

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.display-flex{
    display: flex;
}

button{
    background: var(--primary-color)
}

header{
    padding: 20px 200px;
    background: var(--bg-primary-color);
}

.responsive-menu{
    display: none;
}

#nav-bar{
    justify-content: space-between;
    align-items: center;
    background: var(--bg-primary-color);
}

.logo{
    font-size: 3rem;
}

.nav-links{
   justify-content: space-between;
   align-items: center;
}

.nav-links li a{
    font-size: 1.2rem;
    margin-left: 35px;
    color: var(--secondary-text-color);
}